html {}

body {
    background-color: lightslategray;
}

main {
    display: flex;
    width: 900px;
    height: 600px;
    flex-direction: column;
    margin: auto;
}

#title {
    font-size: 20pt;
    color: white;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 50px;
    height: 50px;
}

.wall {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs1KFYhuTjhwAjxAsBATZkXzEJo_dWdz1WbL4srz0cOVpLWJ3o");
    background-size: 50px;
}

.empty {
}

#start {
    background-image: url("https://media1.giphy.com/media/nhc8d5HizRA3K/200w.gif");
    background-size: 50px;
    background-repeat: no-repeat;
}

.storage {
    background-color:tan;
}

.box {
    background-image: url("https://media3.giphy.com/media/7824ahBLwt5Nm/200w.gif");

    background-size: 50px;
    background-repeat: no-repeat;
}